@charset "UTF-8";

@font-face {
    font-family: paragrafo;
    src: url(../fonts/Themundayfreeversion-Regular.ttf) format(truetype);
}

@font-face {
    font-family: olds;
    src: url(../fonts/Reach-Fill&Outline.ttf) format(truetype);
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01: #034159;
    --cor02: #033859;
    --cor03: #011526;
    --cor04: #00070D;
    
}

body{
    background-color: var(--cor03);
    color: white;
}

header{
    background-color: var(--cor04);
    text-align: center;
    padding: 40px;
}

header h1{
    color: #8C8F86;
    font-size: 4em;
    font-family: olds;
}

header p{
    color: #8C8F86;
    font-family: paragrafo;
    font-size: 2em;
    max-width: 600px;
    margin: auto;
}

nav{
    background-color: var(--cor04);
    padding: 10px;
}

nav > a{
    color: #8C8F86;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    font-size: 25px;
}

nav > a:hover{
    background-color: var(--cor01);
    color: white;
}

main{
    background-color: var(--cor01);
    width: 70%;
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}

.blosh{
    max-width: 100%;
    overflow: hidden;
}

.blosh {
    width: 8%;
    height: auto;
    margin: auto;
}

main h1{
    color: #8C8F86;
    text-indent: 40px;
    font-size: 60px;
    font-family: olds;
}

main p{
    color: darkgray;
    text-align: justify;
    text-indent: 90px;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
}

main img{
    width: 100%;
}

.pequena{
    width: 400px;
}

.video{
    background-color: var(--cor04);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58.8%;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: var(--cor02);
    margin-top: 10px;
    height: 100%;
}

footer p{
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

strong{
    color: #8C8F86;
}
